@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Client;
@* @model List<HairSalon.Models.Client>; *@



<h4>Add an appointment</h4> 

@* @using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Client)
  @Html.DropDownList("ClientId")

  <input type="submit" value="Add new appointment" class="btn btn-default"/>
}

<p>@Html.ActionLink("Show all clients", "Index")</p>  *@

